html {
  height: 100%;
}
body {
  background: linear-gradient(#757575, #050505);
  min-height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

header {
  text-align: center;
}

header h1 {
  display: block;
  color: hsl(0, 0%, 100%);
}

header h2 {
  display: Inline;
  color: hsl(0, 0%, 100%);
}

.wrapper {
  min-height: 100%;
  max-height: 100%;
}

.card {
  margin-left: 33%;
  width: 450px;
  background-color: rgb(9, 177, 121);

  border-color: brown;
  border-style: solid;
  border-radius: 15px;
  min-height: 250px;
  max-height: 250px;
}

.card p {
  width: 92%;
  text-align: center;
}

.card h2 {
  text-align: center;
}
.card button {
  margin-left: 22%;
}

.card input {
  margin-left: 22%;
}

ul {
  list-style-type: none;
  align-content: center;
}

.startBtn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  cursor: pointer;
  float: inline-end;
  width: 200px;
  margin-left: 22%;
}

.btn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  float: inline-end;
  width: 200px;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#formInput {
  width: 200px;
  line-height: 20px;
}

#submitBtn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  float: inline-end;
  width: 200px;
  margin-left: 22%;
}

#goBack {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  float: inline-end;
  width: 200px;
  margin-left: 22%;
}

#clearHighScores {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  float: inline-end;
  width: 200px;
  margin-left: 22%;
}
