body {
  background: linear-gradient(#757575, #050505);
  height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

header {
  text-align: center;
}

header h1 {
  display: block;
  color: hsl(0, 0%, 100%);
}

header h2 {
  display: Inline;
  color: hsl(0, 0%, 100%);
}

.card {
  margin-left: 33%;
  width: 450px;
  background-color: aquamarine;

  border-color: brown;
  border-style: solid;
  border-radius: 15px;
  min-height: 250px;
  max-height: 250px;
}

.card p {
  width: 92%;
  text-align: center;
}

.card h2 {
  text-align: center;
}
.card button {
  margin-left: 45%;
}

ul {
  list-style-type: none;
}

.startBtn {
  border: none;
  margin-left: 48%;
  background-color: hsl(206, 90%, 32%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  margin: 2px 2px 2px 2px;
  padding: 5px 5px;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  margin: 2px 2px 2px 2px;
  padding: 5px px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}
