html {
  height: 100%;
  max-width: 850px;
  align-content: center;
  vertical-align: middle;
  margin: auto;
}

body {
  background: linear-gradient(#757575, #050505);
  min-height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

header {
  text-align: center;
}

header h1 {
  display: block;
  color: hsl(0, 0%, 100%);
}

header h2 {
  display: Inline;
  color: hsl(0, 0%, 100%);
}

.wrapper {
  min-height: 100%;
  max-height: 100%;
}

.card {
  margin-left: 25%;
  width: 50%;
  background-color: rgb(9, 177, 121);

  border-color: brown;
  border-style: solid;
  border-radius: 15px;
  min-height: 300px;
  max-height: 400px;
}

.card p {
  width: 92%;
  text-align: center;
}

.card h2 {
text-align: center;
}
.card button {
  width: 60%
  margin-left: 10%;
}

.card input {
  width: 60%
  margin-left: 20%;
}

ul {
  list-style-type: none;
  align-content: center;
}

.startBtn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
}

.btn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  width: 60%;
  margin-left:15%;

}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#formInput {
  width: 55%;
  margin-left: 22.5%;
  line-height: 20px;
}

#submitBtn {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;;
  width: 60%;
  margin-left:20%;
}

#goBack {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
}

#clearHighScores {
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 2px 2px 2px 2px;
  padding: 7px;
  text-align: center;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
}

#viewHighScores {
  width: 50%;
  margin-left: 25%;
  margin-top: 5px;
  border: none;
  background-color: hsl(206, 90%, 32%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  line-height: 20px;
  padding: 7px;
  text-align: center;
  cursor: pointer;

}
